/*

Deze CSS hoef je niet aan te passen; dit zijn algemene stijlen voor elke pagina.
Gebruik het <style> element in het bestand van het component, waar ook wat hints staan.

*/



body {
	/* Je kunt de volgende FDND kleuren gebruiken in je code */
	--purple: #A675F5;
	--blue: #050542;
	--blue-50: rgba(5, 5, 66, 0.5);
	--green: #66E5BF;
	--yellow: #FFFC86;

	font-family: 'Open Sans', sans-serif;
	line-height: 1.6;
}

h1 {
	margin: 0;
	letter-spacing: -0.05em;
}

.fdnd-nav a {
	color: var(--blue);
}

.fdnd-nav a:hover,
.fdnd-nav a:focus-visible {
	text-decoration: none;
}

/* En als je een simpele button wilt, kun je deze class gebruiken */
.fdnd-button {
	padding: .3em .6em;
	border: 1px solid transparent;
	border-radius: .5rem;
	font-family: inherit;
	font-size: inherit;
	text-decoration: none;
	color: var(--green);
	background: var(--blue);
	cursor: pointer;
}

video {
	max-width: 100%;
	height: auto;
}

/* Alle focus states zijn al voor je gedaan, dus maak je daar niet druk om */
:focus-visible {
	outline: 3px solid var(--blue);
	outline-offset: 3px;
}



/*:MARK: FAQ*/

.faq {
	display: flex;
	flex-direction: column;
	gap: 1em;
	margin: 1em;
}

details {
	width: fit-content;

	&:nth-child(3n + 1) {
		--bg: var(--purple);
	}

	&:nth-child(3n + 2) {
		--bg: var(--green);
	}

	&:nth-child(3n + 3) {
		--bg: var(--yellow);
	}
}

details[open]{
	border: none;
	summary, .answer{
	background-color: var(--bg);
	padding: 1em;
	}
}

summary{
	width: fit-content;
	border-radius: 10px 10px 0px 0px;
	display: flex; 
	align-items: center;
	gap: 0.5em;
}

summary::-webkit-details-marker, 
summary::marker {
	display: none; 
}

.answer{
	border-radius: 0px 10px 10px 10px;
}

details{
	border: 2px solid black;
	padding: 1em;
	border-radius: 10px;
}

p{
	padding: 0;
	margin: 0;
	width: 40em;
}

details summary::before{
	content:"+";
	font-weight: 700;
	transition: 0.2s;
	display: inline-block;
}

details summary::marker{
	content: '';
}

details[open] summary::before{
	transform: rotate(45deg);
}


/*:MARK: SWITCH*/

label {
	display:inline-flex;
	align-items:center;
	gap:.25em;
	cursor:pointer;
}

input {
	appearance:none;
	width:4em;
	height:2em;
	background-color:grey;
	border-radius:15px;
	cursor:pointer;
	display: flex;
	align-items: center;
	padding: 0 0.2em; 
	box-sizing: border-box;
}

input::after {	
	content:"";
	display:block;
	width:1.6em;
	height:1.6em;
	background-color:white;
	border-radius:inherit;
	transition:.2s;
}

input:checked::after {
	translate:2em;
	background-color:white;
}

input:checked{
	background-color:rgb(114, 222, 195);
}